@import "partials/fonts";

html, body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 300;
}

button {
  font-family: "Open Sans", sans-serif;
}

form {
  max-width: 400px;
  overflow: hidden;
}

:global( #root ) {
  height: 100%;
}
